@{
    //ViewBag.Title = "ChannelList";
}

@model List<RentItMvc.Models.GuiChannel>

<h1>@ViewBag.Title</h1>
<div class="row-fluid"> 
        <table class="table table-hover">
            <tr>  
                <th>Name</th>  
                <th>Description</th>  
                <th><div style="text-align:center"><i class="icon-thumbs-up"></i></div></th>  
                <th><div style="text-align:center"><i class="icon-thumbs-down"></i></div></th>  
                <th><div style="text-align:center"><i class="icon-play"></i></div></th>
                <th></th>
              </tr> 
            @foreach (var p in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@p.Name, "SelectChannel", "Home", new { channelId = p.Id }, null)
                    </td>
                    <td>
                        @p.Description
                    </td>  
                    <td>
                        <div style="text-align:center">
                            <span class="badge badge-success" >
                                @p.Upvotes
                            </span>
                        </div>
                    </td>  
                    <td>
                        <div style="text-align:center">
                            <span class="badge badge-important" >
                                @p.DownVotes
                            </span>
                        </div>
                    </td>
                    <td>
                        <div style="text-align:center">
                            <span class="badge badge-inverse" >
                                @p.Hits
                            </span>
                        </div>
                    </td> 
                    
                    <td>
                        <button class="btn btn-small" value="@p.StreamUri" onclick="openPlayer(this.value)">
                            <i class="icon-play"></i>
                        </button>
                    </td>
                </tr>
            }
            
        </table>
</div>
