@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    Html.EnableClientValidation(true);
}

@model RentItMvc.Models.Account

<div class="row-fluid">
    <div class="span1">
    </div>
    <div class="span5">
        <h1>BlobFish Radio</h1>
        <p class="subheading">
            BlobFish Radio is a community-driven netradio station, 
            where you can listen to and and create radio channels.
        </p>
    </div>
    <div class="span1">
    </div>
    <div class="span5">
        @using (Html.BeginForm("SignUp", "Account", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            Html.AntiForgeryToken();
            Html.ValidationSummary(true);
            <div class="pull-left">
                <div class="signup-field">
                    <div class="input-field">
                        <h1>Sign up</h1>
                    </div>
                </div>
                <div class="input-field pull-left">
                    @Html.TextBoxFor(acc => acc.Username, new { @class = "input-block-level", type = "text", required = "required", placeholder = "Pick a username" })
                </div>
                <div class="error-field pull-left">
                    @Html.ValidationMessageFor(acc => acc.Username, null, new { @class = "txt-error" })
                </div>
                <div class="clearfix"></div>
                <div class="input-field pull-left">
                    @Html.TextBoxFor(acc => acc.Email, new { @class = "input-block-level", type = "email", required = "required", placeholder = "Your email" })
                </div>
                <div class="error-field pull-left">
                    @Html.ValidationMessageFor(acc => acc.Email, null, new { @class = "txt-error" })
                </div>
                <div class="clearfix"></div>
                <div class="input-field pull-left">
                    @Html.TextBoxFor(acc => acc.NewPassword, new { @class = "input-block-level", type = "password", required = "required", placeholder = "Create a password" })
                </div>
                <div class="error-field pull-left">
                    @Html.ValidationMessageFor(acc => acc.NewPassword, null, new { @class = "txt-error" })
                </div>
                <div class="clearfix"></div>
                <div class="input-field pull-left">
                    @Html.TextBoxFor(acc => acc.ConfirmPassword, new { @class = "input-block-level", type = "password", required = "required", placeholder = "Confirm your password" })
                </div>
                <div class="error-field pull-left">
                    @Html.ValidationMessageFor(acc => acc.ConfirmPassword, null, new { @class = "txt-error" })
                </div>
                <div class="clearfix"></div>
                <div class="input-field">
                    <button class="btn btn-success" style="width: 200px" type="submit">Sign up for free</button>
                </div>
            </div>
        }
    </div>
</div>
