@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
    ViewBag.Title = "MyChannels";
}

@model List<RentItMvc.Models.GuiChannel>

<h2>My Channels</h2>

<div class="row-fluid"> 
    <table class="table table-hover">
        <tr>  
            <th style="width: 20%">Name</th>  
            <th style="width: 60%">Description</th>  
            <th style="width: 5%; text-align: center"><i class="icon-thumbs-up" /></th>  
            <th style="width: 5%; text-align: center"><i class="icon-thumbs-down" /></th>  
            <th style="width: 5%; text-align: center"><i class="icon-play" /></th>
            <th style="width: 5%; text-align: center"></th>
        </tr> 
        @foreach (var channel in Model)
        {
            <tr onclick="location.href ='@(Url.Action("EditChannel", "Home", new {channelId = channel.Id, userId = Session["UserId"] } ))'">
                <td>
                    @channel.Name
                </td>
                <td>
                    @channel.Description
                </td>  
                <td>
                    <div style="text-align:center">
                        <span class="badge badge-success" >
                            @channel.Upvotes
                        </span>
                    </div>
                </td>  
                <td>
                    <div style="text-align:center">
                        <span class="badge badge-important" >
                            @channel.DownVotes
                        </span>
                    </div>
                </td>
                <td>
                    <div style="text-align:center">
                        <span class="badge badge-inverse" >
                            @channel.Hits
                        </span>
                    </div>
                </td> 
                    
                <td>
                    <a class="btn btn-small" href="/Home/Main"><i class="icon-play"></i></a>                   
                </td> 
            </tr>
        }
    </table>
</div>