@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
    ViewBag.Title = "MyChannels";
}

@model List<RentItMvc.Models.GuiChannel>

<h2>My Channels</h2>

<div class="row-fluid"> 
    <div>
        <div>
            @using(@Html.BeginForm("CreateChannel", "Home", new { userId = Session["userId"] }, FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.TextBox("channelName", "", new { @class = "input", required = "required", placeholder = "Channel name"})
                <button class="btn" type="submit">
                    Create new channel
                </button>
            }
        </div>
    </div>
        <table class="table table-hover">
            <tr>  
                <th>Name</th>  
                <th>Description</th>  
                <th><div style="text-align:center"><i class="icon-thumbs-up"></i></div></th>  
                <th><div style="text-align:center"><i class="icon-thumbs-down"></i></div></th>  
                <th><div style="text-align:center"><i class="icon-play"></i></div></th>
                <th></th>
              </tr> 
            @foreach (var p in Model)
            {
                <tr onclick="location.href ='@(Url.Action("EditChannel", "Home", new {channelId = p.Id, userId = Session["UserId"] } ))'">
                    <td>
                        @p.Name
                    </td>
                    <td>
                        @p.Description
                    </td>  
                    <td>
                        <div style="text-align:center">
                            <span class="badge badge-success" >
                                @p.Upvotes
                            </span>
                        </div>
                    </td>  
                    <td>
                        <div style="text-align:center">
                            <span class="badge badge-important" >
                                @p.DownVotes
                            </span>
                        </div>
                    </td>
                    <td>
                        <div style="text-align:center">
                            <span class="badge badge-inverse" >
                                @p.Hits
                            </span>
                        </div>
                    </td> 
                    
                    <td>
                        <a class="btn btn-small" href="/Home/Main"><i class="icon-play"></i></a>                   
                    </td> 
                </tr>
            }
            
        </table>
</div>