@model RentItMvc.Models.GuiChannel


<fieldset>
    <legend style="text-align:center">
        <a class="btn" href="/Home/Main"><i class="icon-play"></i></a>
        <a class="btn" href="/Home/Main"><i class="icon-thumbs-up"></i></a>
        <a class="btn" href="/Home/Main"><i class="icon-thumbs-down"></i></a>
        <div class="display-field">
            <span class="badge badge-inverse" >
                @Html.DisplayFor(model => model.Hits)
            </span>
            <span class="badge badge-success" >
                @Html.DisplayFor(model => model.Upvotes)
            </span>
            <span class="badge badge-important" >
                @Html.DisplayFor(model => model.DownVotes)
            </span>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
    </legend>  
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    
    @if (Model.OwnerId == (int) @Session["userId"] )
    {
        @Html.ActionLink("Edit channel", "EditChannel", "Home", new { channelId = Model.Id, userId = @Session["userId"] }, new { @class = "btn btn-warning" })
    }

</fieldset>
