@{
    Layout = null;
}

@model RentItMvc.Models.Account

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogInTopBar</title>
</head>
    <body>
        @if (this.Session["userId"] != null && (int) this.Session["userId"] > 0)
        {
            <div style="float:right">
                <a href="/" class="brand">@Session["username"]</a>
                <div style="float: left">
                    @using(@Html.BeginForm("LogOut", "Account", FormMethod.Post))
                    {
                        <button class="btn btn-danger btn-signInOut" type="submit">Sign out</button>
                    }
                </div>
            </div>
        }
        else
        {
            using (@Html.BeginForm("LogIn", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div style="float:right">
                    <div class="input-field input-email">
                        @Html.TextBoxFor(acc => acc.Email, new { @class = "input-block-level", type = "email", required = "required", placeholder = "Email" })
                    </div>
                    <div class="input-field input-password">
                        @Html.TextBoxFor(acc => acc.Password, new { @class = "input-block-level", type = "password", required = "required", placeholder = "Password" })
                    </div>
                    <div style="float: left">
                        <button class="btn btn-success btn-signInOut" type="submit">Sign in</button>
                    </div>
                </div>
            }   
        }
    </body>
</html>
