@{
    ViewBag.Title = "Sidebar";
}

<ul class="nav nav-list">
    <li class="nav-header">
        Channel
    </li>
    <li>
        @Html.ActionLink("Popular channels", "PopularChannels", "Channel", new { userId = Session["userId"] }, null)
    </li>
    <li>
        @Html.ActionLink("All channels", "BrowsableChannels", "Channel", new { userId = Session["userId"], startIndex = 0, endIndex = 10 }, null)
    </li>
    <li>
        @Html.ActionLink("My channels", "MyChannels", "Channel", new { userId = Session["userId"] }, null)
    </li>
    <li>
        @Html.ActionLink("My subscriptions", "MySubscriptions", "Channel", new { userId = Session["userId"] }, null)
    </li>
    <li>
        @Html.ActionLink("Create channel", "CreateChannel", "Channel", new { userId = Session["userId"] }, null)
    </li>
</ul>