@{
    Layout = null;
    HtmlHelper.ClientValidationEnabled = false;
}

@model RentItMvc.Models.Account
@{
    ViewBag.Title = "BlobFish Radio";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogInTopBar</title>
</head>
    <body>
        <a class="brand" style="margin-right: 225px" href="/" title="Home">@ViewBag.Title</a>
        @if (this.Session["userId"] != null && (int) this.Session["userId"] > 0)
        {
            <!--User is logged in-->
            using (@Html.BeginForm("Search", "Search", FormMethod.Post, new { @class = "navbar-form pull-left" } ))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.TextBox("SearchArgs", null, new { @class="span3", placeholder="Search for ..." })
                <button class="btn btn-primary" type="submit">
                    <i class="icon-search icon-white"></i>
                </button>    
            }

            using (@Html.BeginForm("LogOut", "Account", FormMethod.Post, new { @class = "navbar-form pull-right" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <a href="/Account/Edit" class="brand">@Session["username"]</a>
                <button class="btn btn-danger btn-signInOut pull-left" type="submit">Sign out</button>
            }
        }
        else
        {
            <!--User is not logged in-->
            using (@Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @class = "navbar-form pull-right"} ))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.TextBoxFor(acc => acc.Email, new { @class = "span3", type = "email", required = "required", placeholder = "Email"})
                @Html.TextBoxFor(acc => acc.Password, new { @class = "span2", type = "password", required = "required", placeholder = "Password" })
                <button class="btn btn-success btn-signInOut" type="submit">Sign in</button>
            }
        }
    </body>
</html>
