@model Tuple<int, int, string>

<h2>Advanced Search</h2>

@using (Html.BeginForm("SearchAdv", "Channel", new { startIndex = Model.Item1, endIndex = Model.Item2 }, FormMethod.Get, null))
{
    @Html.Hidden("startIndex", Model.Item1)
    @Html.Hidden("endIndex", Model.Item2)
    <div>
        <h5>Channel Name</h5>
        @Html.TextBox("ChannelName", Model.Item3, new { @class = "navbar-form", placeholder = "Name" })
    </div>

    <div class="pull-right" style="margin-right: 60px">
        <h5>Genres</h5>
        @{
    List<RentItMvc.Models.GuiGenre> availableGenres = RentItMvc.Controllers.ChannelController.GetAllAvailableGenres();
            @Html.ListBox("ChosenGenres", new MultiSelectList(availableGenres, "Id", "Name"), new { size = "6" })
        }
    </div>
    
    <div class="input-min-max-wrapper pull-left">
        <h5>Amount of subscribers</h5>
        @Html.TextBox("MinAmountOfSubscribers", null, new { @class = "search-advanced-input", placeholder = "Min", type = "number", min = "0" })
        @Html.TextBox("MaxAmountOfSubscribers", null, new { @class = "search-advanced-input", placeholder = "Max", type = "number", min = "0" })
    </div>

    <div>
        <h5>Amount of comments</h5>
        @Html.TextBox("MinAmountOfComments", null, new { @class = "search-advanced-input", placeholder = "Min", type = "number", min = "0" })
        @Html.TextBox("MaxAmountOfComments", null, new { @class = "search-advanced-input", placeholder = "Max", type = "number", min = "0" })
    </div>

    <div class="input-min-max-wrapper pull-left">
        <h5>Amount of plays</h5>
        @Html.TextBox("MinAmountOfPlays", null, new { @class = "search-advanced-input", placeholder = "Min", type = "number", min = "0" })
        @Html.TextBox("MaxAmountOfPlays", null, new { @class = "search-advanced-input", placeholder = "Max", type = "number", min = "0" })
    </div>

    <div>
        <h5>Amount of votes</h5>
        @Html.TextBox("MinAmountOfVotes", null, new { @class = "search-advanced-input", placeholder = "Min", type = "number", min = "0" })
        @Html.TextBox("MaxAmountOfVotes", null, new { @class = "search-advanced-input", placeholder = "Max", type = "number", min = "0" })
    </div> 

    <div class="pull-left">
        <h5>Ordering</h5>
        <div class="pull-left">
            @Html.DropDownList("SortingKey", new List<SelectListItem> { new SelectListItem { Text = "Name", Value = "nam" }, new SelectListItem { Text = "Subscribers", Value = "sub" }, new SelectListItem { Text = "Comments", Value = "com" }, new SelectListItem { Text = "Plays", Value = "ap" }, new SelectListItem { Text = "Votes", Value = "vot" } }, new { @class = "search-advanced-dropdown" })
        </div>
        <div class="pull-left">
            @Html.DropDownList("SortingBy", new List<SelectListItem> { new SelectListItem { Text = "Ascending", Value = "asc" }, new SelectListItem { Text = "Descending", Value = "desc" } }, new { @class = "search-advanced-dropdown" })
        </div>
    </div>
    
    <button class="btn btn-primary search-advanced-button" type="submit">Search</button>
}