@model List<RentItMvc.Models.GuiChannel>

<h1>@ViewBag.Title</h1>
<div class="row-fluid">
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th style="text-align: center" title="Number of subscribers">
                <i class="icon-ok" />
            </th>
            <th style="text-align: center" title="Number of plays">
                <i class="icon-play" />
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var channel in Model)
        {
            <tr>
                <td>
                    <div style="width:200px" title="@channel.Name">
                        @Html.ActionLink(channel.Name, "SelectChannel", "Channel", new { channelId = channel.Id }, new { @class = "link-overflow", style = "width: 215px" })
                    </div>
                </td>
                <td>
                    <div class="text-overflow" style="width:370px" title="@channel.Description">
                        @channel.Description
                    </div>
                </td>
                <td>
                    <div style="width: 60px;" class="text-center" title="Number of subscribers">
                        <span class="badge badge-success">
                            @channel.Subscribers
                        </span>
                    </div>
                </td>
                <td>
                    <div style="width: 60px;" class="text-center" title="Number of plays">
                        <span class="badge badge-inverse">
                            @channel.Plays
                        </span>
                    </div>
                </td>

                <td>
                    <div style="width: 40px;" class="text-center">
                        <button class="btn btn-small" id="playButton" title="Listen to this channel" value="@channel.Id" onclick="openPlayer(this.value)">
                            <i class="icon-play"></i>
                        </button>    
                    </div>
                </td>
                <td>
                    <div style="width: 40px;" class="text-center">
                        @{
                            if (RentItMvc.Controllers.AccountController.IsSubscribed(channel.Id, (int)Session["UserId"]))
                            {
                                <button class="btn btn-small btn-warning" title="Unsubscribe" onclick="location.href ='@(Url.Action("UnSubscribe", "Account", new { channelId = channel.Id }))'">
                                    <i class="icon-remove icon-white"></i>
                                </button>
                            }
                            else
                            {                     
                                <button class="btn btn-small btn-success" title="Subscribe" onclick="location.href ='@(Url.Action("Subscribe", "Account", new { channelId = channel.Id }))'">
                                    <i class="icon-ok icon-white"></i>
                                </button>
                            }
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
