@model List<RentItMvc.Models.GuiChannel>

<h1>@ViewBag.Title</h1>
<div class="row-fluid"> 
    <table class="table table-hover">
        <tr>  
            <th style="width: 25%">Name</th>  
            <th style="width: 47%">Description</th>  
            <th style="width: 7%; text-align: center"><i class="icon-thumbs-up" /></th>  
            <th style="width: 7%; text-align: center"><i class="icon-thumbs-down" /></th>  
            <th style="width: 7%; text-align: center"><i class="icon-play" /></th>
            <th style="width: 7%; text-align: center"></th>
            </tr> 
        @foreach (var channel in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(channel.Name, "SelectChannel", "Channel", new { channelId = channel.Id }, null)
                </td>
                <td>
                    @channel.Description
                </td>  
                <td>
                    <div style="text-align:center">
                        <span class="badge badge-success" >
                            @channel.Upvotes
                        </span>
                    </div>
                </td>  
                <td>
                    <div style="text-align:center">
                        <span class="badge badge-important" >
                            @channel.DownVotes
                        </span>
                    </div>
                </td>
                <td>
                    <div style="text-align:center">
                        <span class="badge badge-inverse" >
                            @channel.Hits
                        </span>
                    </div>
                </td> 
                    
                <td>
                    <button class="btn btn-small" value="@channel.StreamUri" onclick="openPlayer(this.value)">
                        <i class="icon-play"></i>
                    </button>
                </td>
            </tr>
        }
    </table>
</div>