@using RentItMvc.Models

@model RentItMvc.Models.GuiChannel

@if (Model.OwnerId == (int)@Session["userId"])
{
    <div style="margin-top: 16px; margin-right: 16px" class="pull-left">
        @Html.ActionLink("Edit channel", "EditChannel", "Channel", new { channelId = Model.Id }, new { @class = "btn btn-small btn-warning" })
    </div>
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<table>
    <tr>
        <th style="width: 50px"><i class="icon-play" /></th>
        <th style="width: 50px"><i class="icon-ok" /></th>
    </tr>
    <tr>
        <td>
            <div style="text-align: center">
                <span class="badge badge-inverse">
                    @Html.DisplayFor(model => model.Plays)
                </span>
            </div>
        </td>
        <td>
            <div style="text-align: center">
                <span class="badge badge-success">
                    @Html.DisplayFor(model => model.Subscribers)
                </span>
            </div>
        </td>
    </tr>
</table>

<p style="margin-top: 20px">@Html.DisplayFor(model => model.Description)</p>

<div style="margin-top: 30px"></div>

@if (Model.OwnerId == (int)@Session["userId"])
{
    <div style="margin-top: 16px; margin-right: 16px">
        @Html.ActionLink("Edit tracks", "EditTracks", "Track", new { channelId = Model.Id }, new { @class = "btn btn-small btn-warning" })
    </div>
}

<h4>Tracks</h4>

@foreach (GuiTrack track in Model.Tracks)
{
    <div class="pull-left">
        @Html.Label(track.ArtistName)
    </div>
    <div class="pull-left">
        <p style="margin-left: 5px; margin-right: 5px;">-</p>
    </div>
    <div class="pull-left">
        @Html.Label(track.TrackName)
    </div>
    <div class="clearfix"></div>
}

@Html.Action("CommentList", "Comment")