@using RentItMvc.Models

@model RentItMvc.Models.GuiChannel

<h2 class="pull-left" style="margin-top: 8px; margin-right: 20px">@Html.DisplayFor(model => model.Name)</h2>

@if (Model.OwnerId == (int)@Session["userId"])
{
    <div style="margin-top: 16px; margin-right: 16px" class="pull-left">
        @Html.ActionLink("Edit channel", "EditChannel", "Channel", new { channelId = Model.Id }, new { @class = "btn btn-small btn-warning" })
    </div>
}

@if (Model.OwnerId == (int)@Session["userId"])
{
    if (RentItMvc.Controllers.ChannelController.IsChannelPlaying(Model.Id))
    {
    <div style="margin-top: 16px;">
        <button class="btn btn-small btn-danger" title="Stop channel" onclick=" location.href = '@(Url.Action("StopChannel", "Channel", new { channelId = Model.Id }))' ">
            <i class="icon-stop icon-white"></i>
        </button>
    </div>
    }
    else
    {
    <div style="margin-top: 16px;">
        <button class="btn btn-small btn-success" title="Start channel" onclick=" location.href = '@(Url.Action("StartChannel", "Channel", new { channelId = Model.Id }))' ">
            <i class="icon-play icon-white"></i>
        </button>
    </div>
    }
}

<div class="clearfix"></div>

<table class="pull-left" style="margin-right: 30px">
    <tr>
        <th style="width: 50px"><i class="icon-play" title="Number of plays" /></th>
        <th style="width: 50px"><i class="icon-ok" title="Number of subscribers" /></th>
    </tr>
    <tr>
        <td>
            <div style="text-align: center" title="Number of plays">
                <span class="badge badge-inverse">
                    @Html.DisplayFor(model => model.Plays)
                </span>
            </div>
        </td>
        <td>
            <div style="text-align: center" title="Number of subscribers">
                <span class="badge badge-success">
                    @Html.DisplayFor(model => model.Subscribers)
                </span>
            </div>
        </td>
    </tr>
</table>

<button style="margin-top: 10px" class="btn btn-small" id="playButton" title="Listen to this channel" value="@Model.Id" onclick="openPlayer(this.value)">
    <i class="icon-play"></i>
</button>

<p style="clear: left; padding-top: 20px">@Html.DisplayFor(model => model.Description)</p>

<div style="margin-top: 30px"></div>

<h4 class="pull-left" style="margin-top: 4px; margin-right: 20px">Tracks</h4>

@if (Model.OwnerId == (int)@Session["userId"])
{
    <div style="margin-top: 16px; margin-right: 16px">
        @Html.ActionLink("Edit tracks", "EditTracks", "Track", new { channelId = Model.Id }, new { @class = "btn btn-small btn-warning" })
    </div>
}

@Html.Partial("Tracks", Model.Tracks)

@Html.Action("CommentList", "Comment")