@using RentItMvc.Models

@model RentItMvc.Models.GuiChannel

<h2 class="pull-left" style="margin-top: 8px; margin-right: 20px">@Html.DisplayFor(model => model.Name)</h2>

@if (Model.OwnerId == (int)@Session["userId"])
{
    <div style="margin-top: 16px; margin-right: 16px" class="pull-left">
        @Html.ActionLink("Edit channel", "EditChannel", "Channel", new { channelId = Model.Id }, new { @class = "btn btn-small btn-warning" })
    </div>
}

<div class="clearfix"></div>

<table>
    <tr>
        <th style="width: 50px"><i class="icon-play" title="Number of plays"/></th>
        <th style="width: 50px"><i class="icon-ok" title="Number of subscribers"/></th>
    </tr>
    <tr>
        <td>
            <div style="text-align: center" title="Number of plays">
                <span class="badge badge-inverse">
                    @Html.DisplayFor(model => model.Plays)
                </span>
            </div>
        </td>
        <td>
            <div style="text-align: center" title="Number of subscribers">
                <span class="badge badge-success">
                    @Html.DisplayFor(model => model.Subscribers)
                </span>
            </div>
        </td>
    </tr>
</table>

<p style="margin-top: 20px">@Html.DisplayFor(model => model.Description)</p>

<div style="margin-top: 30px"></div>

<h4 class="pull-left" style="margin-top: 4px; margin-right: 20px">Tracks</h4>

@if (Model.OwnerId == (int)@Session["userId"])
{
    <div style="margin-top: 16px; margin-right: 16px">
        @Html.ActionLink("Edit tracks", "EditTracks", "Track", new { channelId = Model.Id }, new { @class = "btn btn-small btn-warning" })
    </div>
}

@Html.Partial("Tracks", Model.Tracks)

@Html.Action("CommentList", "Comment")