@model Tuple<List<RentItMvc.Models.GuiTrack>, int>

@{
    Layout = null;
}

<div style="margin-top: 30px">
    <h4 style="margin-left: 8px">Last played tracks</h4>
    <table id="trackTable" class="table">
        <tr>
            <th>Artist</th>
            <th>Title</th>
            <th></th>
            <th></th>
        </tr>
        @for (int i = 0; i < 5; i++)
        {
            var track = Model.Item1[i];
            <tr>
                <td>
                    <div id="@track.Id-artist"style="width: 120px" class="text-overflow">
                        @track.ArtistName
                    </div>
                </td>
                <td>
                    <div id="@track.Id-title"style="width: 120px" class="text-overflow">
                        @track.TrackName
                    </div>
                </td>
                <td>
                    <div style="width: 30px">
                        @if (RentItMvc.Controllers.AccountController.GetVote(Model.Item2, @track.Id) == 1)
                        {
                            <button id="@track.Id-up" class="btn btn-small btn-success" onclick="upvote(@track.Id) ">
                                <i class="icon-thumbs-up"></i>
                            </button>
                        }
                        else
                        {
                            <button id="@track.Id-up" class="btn btn-small" onclick="upvote(@track.Id) ">
                                <i class="icon-thumbs-up"></i>
                            </button>
                        }

                    </div>

                </td>
                <td>
                    @if (RentItMvc.Controllers.AccountController.GetVote(Model.Item2, @track.Id) == -1)
                    {
                        <div style="width: 30px">
                            <button id="@track.Id-down" class="btn btn-small btn-danger" onclick="downvote(@track.Id)">
                                <i class="icon-thumbs-down"></i>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div style="width: 30px">
                            <button id="@track.Id-down" class="btn btn-small" onclick="downvote(@track.Id)">
                                <i class="icon-thumbs-down"></i>
                            </button>
                        </div>
                    }
                </td>
            </tr>
        }
    </table>
</div>
