@model Tuple<List<RentItMvc.Models.GuiTrack>, int>

@{
    Layout = null;
}

<div style="margin-top: 30px">
    <h4 style="margin-left: 8px">Last played tracks</h4>
    <table class="table">
        <tr>
            <th>Artist</th>
            <th>Title</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var track in Model.Item1)
        {
            <tr>
                <td>
                    <div style="width: 120px" class="text-overflow">
                        @track.ArtistName
                    </div>
                </td>
                <td>
                    <div style="width: 120px" class="text-overflow">
                        @track.TrackName
                    </div>
                </td>
                <td>
                    <div style="width: 30px">
                        @if (RentItMvc.Controllers.AccountController.GetVote(Model.Item2, @track.Id) == 1)
                        {
                            <button class="btn btn-small btn-success" onclick=" upvote(@track.Id) ">
                                <i class="icon-thumbs-up icon-white"></i>
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-small" onclick=" upvote(@track.Id) ">
                                <i class="icon-thumbs-up"></i>
                            </button>
                        }

                    </div>

                </td>
                <td>
                    @if (RentItMvc.Controllers.AccountController.GetVote(Model.Item2, @track.Id) == -1)
                    {
                        <div style="width: 30px">
                            <button class="btn btn-small btn-danger">
                                <i class="icon-thumbs-down icon-white"></i>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div style="width: 30px">
                            <button class="btn btn-small">
                                <i class="icon-thumbs-down"></i>
                            </button>
                        </div>
                    }
                </td>
            </tr>
        }
    </table>
</div>
