@{
    ViewBag.Title = "TrackList";
}

@model Tuple<List<RentItMvc.Models.GuiTrack>, int, int>

<h1 class="pull-left">Manage Tracks</h1>

@Html.ActionLink("Back to channel", "SelectChannel", "Channel", new { channelId = Model.Item2, userId = Model.Item3 }, new { @class = "btn btn-primary", style = "margin-top: 15px; margin-left: 20px"})

<div style="width: 100%; max-height: 424px; margin-bottom: 20px; overflow-x: hidden; overflow-y: auto">
    <table class="table table-hover">
        <tr>
            <th style="width: 200px">Artist</th>
            <th style="width: 400px">Title</th>
            <th style="width: 70px; text-align: center" title="Upvotes">
                <i class="icon-thumbs-up"></i>
            </th>
            <th style="width: 70px; text-align: center" title="Downvotes">
                <i class="icon-thumbs-down"></i>
            </th>
            <th></th>
        </tr>
        @foreach (var t in Model.Item1)
        { 
            <tr>
                <td>
                    <div class="text-overflow" style="margin-top: 2px; width: 200px" title="@t.ArtistName">
                        @t.ArtistName
                    </div>
                </td>
                <td>
                    <div class="text-overflow" style="margin-top: 2px; width: 400px"  title="@t.TrackName">
                        @t.TrackName
                    </div>
                </td>
                <td>
<<<<<<< HEAD
                    @if (RentItMvc.Controllers.ChannelController.IsChannelPlaying(Model.Item2))
                    {
                        <button title="Connot delete track while channel is playing" class="btn btn-small btn-danger disabled">
                            <i class="icon-remove icon-white"></i>
                        </button>
                    }
                    else
                    {
                        <button title="Delete track" class="btn btn-small btn-danger" onclick="location.href ='@(Url.Action("DeleteTrack", "Track", new { trackId = t.Id, userId = Session["userId"]}))'">
                            <i class="icon-remove icon-white"></i>
                        </button>
                    }
=======
                    <div style="width: 70px;" class="text-center" title="Upvotes">
                        <span class="badge badge-success">
                            @RentItMvc.Controllers.TrackController.GetUpvotes(t.Id)
                        </span>
                    </div>
                </td>
                <td>
                    <div style="width: 70px;" class="text-center" title="Downvotes">
                        <span class="badge badge-important">
                            @RentItMvc.Controllers.TrackController.GetDownvotes(t.Id)
                        </span>
                    </div>
                </td>
                <td>
                    <button title="Delete track" class="btn btn-small btn-danger" onclick="location.href ='@(Url.Action("DeleteTrack", "Track", new { trackId = t.Id, userId = Session["userId"]}))'">
                        <i class="icon-remove icon-white"></i>
                    </button>
>>>>>>> 63dfffda28925357521d5c8767bb3844222abdfe
                </td>
            </tr>
        }
    </table>
</div>

<!-- Add track form -->
@Html.Action("AddTrackForm", "Track")